# Ignore build directory
build/
assembly/

# Ignore image files
img/

# Ignore object files
*.o

# Ignore executable files
*.exe

# Ignore temporary files
*.log
*.tmp
*.bak
*.swp

# Ignore core dumps and debugging files
core
*.core
